/* .comment_item .comments_wrap { */
/* 	margin-left:35px; */
/* 	padding-top: 0; */
/* } */
/* .comment_is_parent { */
/* 	border-right: 1px solid rgba(225, 128, 0, 0.4);		 */
/* } */
/* .comments_wrap { */
/* 	padding-top: 10px; */
/* } */

.cemoj_wrap {
	border-top: 1px solid rgba(255,128,0, 0.4);
	border-left: 1px solid rgba(255,128,0, 0.4);
	border-right: 1px solid rgba(255,128,0, 0.4)
}
.cemoji_panel_active svg path {
	fill: #ff8000 !important;
}
.cemoj_wrap .cemoji_content {
	padding: 0px 5px 4px 5px;
	height: 220px;
	box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.cemoj_wrap .cemoji-ico {
	margin: 6px;
	cursor: pointer;
}
.cemoj_wrap .cemoji_tool {
    position: relative;
    height: 44px;
    -webkit-flex: none;
    flex: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 300;
    color: #bfc3c4;
}
.cemoj_wrap .cemoji_tool .cemoji_panel{
    box-sizing: border-box;
    color: #a7a7a7;
    -webkit-flex: 1;
    flex: 1;
    font-size: 13px;
    font-weight: 500;
    overflow: hidden;
    text-transform: uppercase;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer
}
.cmt_rp_remove {
	margin-top: -1px
}
.cmt_rp_remove svg {
	width: 17px;
    fill: #999999;
}
.cmt_rp_edit {
/* 	margin-top: 1px; */
}
.comment-item-inner {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% - 40px);
    margin: 12px 0px 5px 0px;
}
.comment-item-inner .comment-data-content img {
	display: block;
    max-width: 99%;
    border-radius: 6px;
}
.comment-data-content p {
	font-size: 13px;
	margin-bottom: 0;
}
.comment-item-content {
    position: relative;
    margin-left: 3px;
    font-size: 14px;
    line-height: 17px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    min-width: 100%;
    min-height: 50px;
/*     display: flex; */
/*     flex-direction: column; */
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(247, 247, 247);
    border-radius: 7px;
    padding: 10px 10px 10px 15px;
}

.comment-user {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    letter-spacing: +0.02em;
}

.comment-item-meta {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
/*     margin-bottom: 0px; */
}

.comments_wrap * {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.comment-data-content {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding: 8px 0;
    color: rgba(0, 0, 0, 0.82);
}
.comments-meta {
    display: flex;
/*     font-size: 12px; */
/*     color: rgb(153, 153, 153); */
    height: 17px;
}
.comments-meta .comment-spantime {
	line-height:18px;
}
.comment-user-img {
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
}
.comment-img-a:hover img, .comment-img-a:hover svg {
    box-shadow: #ff8000 0px 0px 0px 3px;
}
.comment-user:hover {
    color: #ff8000;
}
.commnet-reply-action {
    cursor: pointer;
}
.commnet-reply-action:hover svg use, .commnet-reply-action:hover svg path {
    fill: #ff8000;
}
.comment-replied-meta {
	margin-top: -1px;
}
.replynotice {
	transform: rotate(360deg) scaleX(-1);
	display:inline-block;
}

.commentcontenthold .ql-container.ql-snow {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.commentcontenthold.editorclicked .ql-container.ql-snow {
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;				
}

.editorfocused .ql-container.ql-snow {
	border: 1px solid rgba(255,128,0, 0.4) !important;	
}
.account_settings_f .editorfocused .ql-container.ql-snow {
	border-top: 0px !important;
} 
.commentcontenthold.editorfocused .ql-container.ql-snow {
	border-bottom: 0px !important;
}

.commentcontenthold .ql-toolbar.ql-snow {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px;
}
.comment-form-wrapper .comment-item-content {
	background: #fff;
	padding: 0;				
}
.comment-form-wrapper .ql-editor {
	min-height: 55px;
}
.comment-form-wrapper .ql-snow .ql-editor img {
	display:block;
}